<div style="background: grey; padding: 20px 0;">
  <div
    style="font-size: 16px; max-width: 600px; color: grey; margin: 0 auto; background: #fff; padding: 0 0 20px; text-align: center;">
    <div style="background: grey; padding: 40px;">
      <img src="https://konekto-assets.s3-sa-east-1.amazonaws.com/logo-horizontal-branca.png"
        style="margin: 0 auto; max-width: 350px;" />
    </div>
    <h3 style="margin: 30px 0 5px; letter-spacing: 1px;">Olá {{name}}</h3>
    
    <p style="margin: 0px auto 10px; letter-spacing: 1px; max-width: 550px;">
      Recebemos sua mensagem e retornaremos assim que possível. <br/>
      Lembre-se, você pode fazer um orçamento automático sobre nossos principais serviços acessando <a href="https://orcamento.konekto.me" target="_blank">orçamento.koneto.me</a>.
    </p>

    <a href="https://orcamento.konekto.me" style="background: #489ec7; color: white; text-decoration: none; padding: 15px 20px; display: block; width: fit-content; margin: 20px auto 20px; border-radius: 6px; font-weight: bold;">Faça um orçamento instantâneo</a>    

    <p style="margin: 20px 0 10px; letter-spacing: 1px; font-size: 11px;font-style: italic;">Enviado automaticamente de konekto.me</p>
  </div>
</div>